*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: #eee;
    background-color: #0d1117;
}

#wrapper{
    height: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    z-index: 2;
    padding: 5px 20px 50px;
    border-radius: 10px;
    background-color: #151c27;  
}

#box_heroi{
    display: none;
}

#img_heroi{
    top: 5%;
    width: 100%;
    height: 95%;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat; 
    display: none;
    justify-content: center;
    align-items: center;
}

#img_heroi h1{
    font-size: 4em;
    font-weight: lighter;
    margin-bottom: 10px;
}
#img_heroi h3{
    font-size: 2em;
    margin-top: 0;
    font-weight: lighter;
}

input[type=text]{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #151c27;
    border-radius: 5px;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #15873f;
}

button{
    width: 100%;
    background-color: #15873f;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
    background-color:  #0d5729;
}
  