*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #eee;
    background-color: #0d1117;
}

#wrapper{
    height: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 5px 20px 50px;
    background-color: #151c27;  
}

#box_heroi{
    display: none;
}

#img_heroi{
    top: 5%;
    width: 100%;
    height: 95%;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat; 
    display: none;
}